.lineup {
  margin-left: 110px;
}

.centerimage {
  display: block;
  margin: 0px auto;
  width: 50%;
  height: 50%;
}

h1, h2 {
  text-align: center;
}

.floatleft {
  float: left;
  margin: 5px;
  padding: 5px;
}

.clearleft {
  clear: left;
}

.centertext {
  text-align: center;
}

.textstrike {
  text-decoration: line-through;
}

.biggertext {
  font-size: 2.5em;
}

body {
  background-color: lightblue;
}

#navStyle {
  text-decoration: none;
  background-color: #0099cc;
}

#navStyle a {
  display: inline;
  font-size: 2em;
  text-align: center;
  background-color: #003399;
  color: #66ccff;
  padding: 0px 20px;
  margin: 15%;
}

#navStyle a:hover {
  color: #ccffcc;
}
